*{
    padding: 0;
    margin: 0;
}

.abertura{
    display: flex;
    top: 5%;
    justify-content: center;
    align-items: center;
    margin-top: -48vh;
    flex-direction: column;
  
    
    
}


h4{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


svg{
    height: 50vh;
    overflow: hidden;
    width: 98.5vw;
  
  


}
.contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vh;
  margin-bottom: 20vh;
  
}

.templates{
    width: 15vw;
    margin-top: 15vh;
}

.ImagemFinal{
    justify-content: center;
    display: flex;
}

.autor{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
    
}